@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ededed;
  --card-bg: #1e1e1f;
  --primary: #ffdb70;
  --secondary: #2b2b2c;
  --text-gray: #d6d6d6;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card-bg);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-gray: var(--text-gray);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1f; 
}
 
::-webkit-scrollbar-thumb {
  background: #383838; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
